<!-- ここがログイン後の最初のアクセス。マイページとなる。　-->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <table class="table">
       <tbody>
         
        <tr></tr>
        <tr>
          <th>name</th>
          <th></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th></th>
        </tr>
        
       </tbody>
      </table>
      
      <div class="row">
        <!-- user_editへのリンク -->
      </div>
      
      <h2>New book</h2>
      
    </div>
  </div>
  
</div>